
.row-fluid
	.span5
		%h1 Que comemos hoy?
		%h3 Ahora tu puedes enviarle a tu familia en la Republica Dominicana una tarjeta prepagada para que use en cualquier supermercado.
		%br
		= image_tag 'comer.jpg' , class: "pull-left", :style => "width:100%; margin-bottom:15px"


	.span7
		.row-fluid
			.row-fluid.span6
				.span2
					.bullet 1
				.span10
					%h2{:style=>"margin-top:-1px;"} Que le llega?
				.row-fluid
					.span12
						%h3 Un bono con el monto en pesos.  Por ejemplo:
			.span6	
				= image_tag 'bono.png' , class: "pull-right", :style => "width:100%; margin-bottom:30px;"

		%br
		.row-fluid
			.span1
				.bullet 2
			.span8
				%h2{:style=>"margin-top:-1px;"} Como lo recibe?
		.row-fluid
			.span6
				%strong Si tu familia recide en Santo Domingo.
				%h3 Recibe un bono directamente a su casa en 24hrs, excepto los Domingos (lo recibe el Lunes).
			.span6
				%strong Si tu familia recide en el interior:
				%h3 Recibe un bono en 24hrs en la sucursal de Multicentro La Sirena que tu decidas. Tu familia solo tiene al servicio de cliente y mostrar su cedula.
		%br
		.row-fluid
			.span1
				.bullet 3
			.span11
				%h2{:style=>"margin-top:-1px;"} Como lo usan?
		.row-fluid
			.span12
				%h3 Nosotros llamamos a su familia para asegurarse de la entrega. Listo! Su familia visita cualquier La Sirena, Super Pola o Tienda Aprezio. Compra lo que desea con el bono.

%hr.featurette-divider

.row-fluid
	.span7
		%h1 Manten tu familia contenta.
		%h3 Pague cualquiera de tus facturas en la Republica Dominicana con nuestro simple proceso.
		%br

	.span5
		= image_tag 'comer.jpg' , class: "pull-right", :style => "width:100%"

