%h2
  It's not about us.
  It's about THEM.
%h3 Your family back home in the Dominican Republic and the unsafe way they receive the support & money that you give them.
%h2 What's unsafe about the way they receive money?
%h3 Well, let's look at the two biggest money agencies (that you probably already use) and see how unsafe they are.
​
%h2 Western Union & La Nacional
﻿
%h3 This is where we talk about how recipients receive money and we leverage the articles about recent robberies in D.R.
%h2 How is regalii's system better?
%h3 You send money back home for 3 main reasons: food, clothing, and bill payment. Our system allows you to send those things directly, thus making it a safer experience for your family member because they never have to deal with physical cash.