<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
    	<h2> 
          <font size='12' color='#AA151B'>
             Privacy Policy.
          </font>
        </h2>
        <p>
      	<%= link_to 'Terms & Conditions',  "terms" , class: "btn-main" %></p>
     	 	<%= link_to 'Refunds' ,  "refunds" , class: "btn-main" %>
    </div>
    <div class="span8">
      <h3>
<p><strong>Regalii LLC</strong> provides this Privacy Policy to inform users of our policies and procedures regarding the collection, use and disclosure of personally identifiable information received from users of this website, located at www.Regalii.com or collection with emails, SMS, telephone, WAP or other menus. This Privacy Policy may be updated from time to time for any reason; each version will apply to information collected while it was in place. We will notify you of any material changes to our privacy policy by posting the new privacy policy on our website. You are advised to consult this privacy policy regularly for any changes. By using or accessing the website, you are accepting the practices described in this privacy policy.
By using our website you are consenting to our processing of your information as set forth in this privacy policy now and as amended by us. 'Processing' means using cookies on a computer or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the U.S., your personally identifiable information will be transferred to the U.S., and processed and stored in, the U.S. If you have any questions or comments about this privacy policy or our use of your personally identifiable information, please contact us at www.Regalii.com</p>
﻿
<strong>Information Collected Upon Registration</strong>

<p>If you desire to have access to certain restricted sections of the website, you will be required to become a registered user, and to submit certain personally identifiable information to Regalii. This happens in a number of instances, such as when you sign up for Regalii , if you desire to receive marketing materials and information, if you submit a bid request, and/or if you create a profile to offer services or products through Regalii. Personally identifiable information that we may collect in such instances may include your full name, password, email address, street, address, telephone number, mobile number, photographs you upload, and other information that you decide to provide us with, or that you decide to include in your public profile. If you register as a (do it yourselfer, contractor, or supplier), create a profile, and/or quote on a bid request, we may request and store your credit card number and other personally identifiable information.</p>

<strong>Information Collected Upon Visiting.</strong>
<p>When you visit the website, our servers automatically record information that your browser sends whenever you visit a website (log data). This log data may include information such as an IP address, browser type or the domain from which you are visiting, the web-pages you visit, the search terms you use, and any advertisements or links on which you click. For most users accessing the internet from an internet service provider the IP address will be different every time you log on. We use log data to monitor the use of the website and of our service, and for the website's technical administration.</p>

​
<strong>Bid request.</strong>
<p>You may sign up for notifications and modify your notification preferences to better control when Regalii sends you email or SMS notifications. If you contact us by email through the website, we may keep record of your contact information and correspondence, and use such information to respond to your inquiry.
﻿</p>

​
<strong>Survey.</strong>
<p>We may also collect information if you participate in surveys conducted by or on behalf of us or our partner companies, including but not limited to questionnaires, telephone interview and/or discussion groups, and otherwise providing information about the Regalii service.</p>

<strong>Use of Contact Information.</strong>
<p>In general, we may use information that we collect about you to:
Deliver the products and services that you have requested; Manage your account and provide you with customer support; Perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others; Communicate with you by e-mail, postal mail, telephone, sms, and/or mobile device or send newsletters about products or services that may be of interest to you; Communicate with you with regard to partially completed request Develop and display content and advertising tailored to your interest on our site and other sites; Verify your eligibility and deliver prizes in connection with contests and sweepstakes; Enforce our terms and conditions; Manage our business; and Perform functions as otherwise described to you at the time of collection.
In addition, we may use your contact information to market to you, and provide you with information about, our products and services, including but not limited to our services. If you decide at any time that you no longer wish to receive such information or communications from us, please follow the unsubscribe instructions provide in any of the communications.</p>
</h3>
    </div>
  </div>
</div>