.container-fluid
  .row-fluid
    .span4
      %h2
        %font{:color => "#AA151B", :size => "12"}
          Terms & Conditions.
      %p= link_to 'Refunds',  "refunds" , class: "btn-main"
      = link_to 'Privacy Policy' ,  "privacy" , class: "btn-main"
    .span8
      %h3
        %strong Terms
        %br 
        By using Regalii.com (the 'site') and any of its related subdomains, you agree to these Terms & Conditions and the general principles of the site regardless of whether you have read through all of the applicable terms. If you do not agree with any of these terms, you are prohibited from using this site. The materials contained in this site are protected by applicable copyright and trademark law. Regalii reserves the right to amend these terms and conditions at any time and such amendments will be effective immediately upon being posted to the site.
        %p
        %strong Disclaimer
        %br 
        You expressly agree that use of this site is at your sole risk. Neither Regalii, or its subsidiaries affiliates nor any of their respective employees, agents, merchants, third-party content providers or licensors, or any of their officers, directors, employees or agents, warrant that use of the site will be uninterrupted or error free; nor do they make any warranty as to (i) the results that may be obtained from use of this site, or (ii) the accuracy, completeness, reliability or content of any information (including, but not limited to, product descriptions), service, products or vouchers provided through this site. The site and all content, statements (as defined below) and other information contained on the site, and products and services accessible or available through the site are made accessible or available on an 'as is' and 'as available' basis. Regalii hereby disclaims any and all representations, warranties and conditions, whether express or implied, as to the operation of the site or the content, statements or other information contained on the site, or the products or services accessible or available through the site, including, but not limited to, those of title non infringement, merchantability, and fitness for a particular purpose.
        %p
        %strong Limitations
        %br 
        The risk of loss and title to products purchased on the Site pass to the purchaser upon confirmation of payment. E-gift cards or ('regalii's') are not refundable if lost, stolen, or sent to the wrong email or mobile number. Please protect yourself by being careful to enter your recipient's information correctly.
        %p
        %strong Revisions and Errata
        %br 
        The materials appearing on Regalii.com's web site could include technical, typographical, or photographic errors. Regalii.com does not warrant that any of the materials on its web site are accurate, complete, or current. Regalii.com may make changes to the materials contained on its web site at any time without notice. Regalii.com does not, however, make any commitment to update the materials.
        %p
        %strong Transactions
        %br 
        We make available products and services for purchase thr
        ough the Site, and we may use third party suppliers and service providers to enable e-commerce functionality on the Site. If you wish to purchase any product or service made available through the Site (each such purchase, a 'Transaction'), you may be asked to supply certain information relevant to your Transaction, including without limitation your credit card number, the expiration date of your credit card, your billing address, and your shipping information. YOU REPRESENT AND WARRANT THAT YOU HAVE THE LEGAL RIGHT TO USE ANY CREDIT CARD(S) UTILIZED IN CONNECTION WITH ANY TRANSACTION. By submitting such information, you grant Regalii the right to provide such information to third parties for purposes of facilitating the completion of Transactions initiated by you or on your behalf. Verification of information may be required prior to the acknowledgment or completion of any Transaction. Refused and Refunded Transactions. From time to time a Recipient may be unable to accept transferred funds, whether because (1) incorrect account information has been provided for the Recipient, or (2) for some other reason beyond our control. You agree that you will not hold us liable for any damages resulting from a Recipient's inability to accept funds transferred by us.Accuracy of Information. You are responsible for confirming the accuracy of the information you provide each time you open an Account including the recipient's name, email address, telephone number, Facebook user id, or other identifying information and the amount of the transaction. You will be required to name a beneficiary for your Account (the 'Recipient') in order to designate who will receive the e-gift card.You agree to be responsible for any fees that your phone service provider charges, such as fees for SMS, data services and any other fees that your phone service provider may charge.
        %p
        %strong Intellectual Property Notice
        %br 
        All content included on the Site, such as text, graphics, logos, images, audio clips, video, data, music, software and other material (collectively 'Content'), is owned or licensed property of Regalii or its software and content suppliers and is protected by copyright, trademark, patent or other proprietary rights. The collection, arrangement, and assembly of all content on the Site is the exclusive property of Regalii.LLC and protected by U.S. and international copyright laws. You may download, print, post and store selected portions of the content for personal, noncommercial purposes, provided you do not modify or alter the content in any way, or delete or change any copyright or trademark notice. Regalii and its suppliers and licensors expressly reserve all intellectual property rights in all text, programs, products, processes, technology, content and other materials that appear on the Site. Access to the Site does not confer and shall not be considered as conferring upon anyone any license under any of Target's or any third party's intellectual property rights.
        %p
        %strong Your Account
        %br 
        You may be required to register with Regalii in order to access certain services or areas of the Site. With respect to any such registration, we may refuse to grant to you, and you may not use, a user name (or e-mail address): that is already being used by someone else; that may be construed as impersonating another person; that belongs to another person; that personally identifies you; that violates the intellectual property or other rights of any person; that is offensive; or that we reject for any other reason in our sole discretion. Your user name and password are for your personal use only. If you use the Site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. Regalii reserves the right to refuse service, terminate accounts, remove or edit content, or cancel orders in its sole discretion.
        %p
        %strong Gift Certificates
        %br 
        All Gift Cards, e-Gift Cards and other gift certificates are deemed purchased in and issued from the State of Delaware. The risk of loss and title to such items pass to the purchaser upon our electronic transmission to the recipient or delivery to the carrier, whichever is applicable.
        %p
        %strong Links
        %br Regalii.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Regalii.com of the site. Use of any such linked web site is at the user's own risk.Descriptions and images of, and references to, third-party products or services available in connection with the Site do not imply Regalii's endorsement of such third-party products or services. All descriptions, images, references, features, content, specifications, products and prices of products and services described or depicted on the Site are subject to change at any time without notice. Regalii reserves the right, with or without prior notice: to limit the available quantity of or discontinue any product or service; to impose conditions on the honoring of, any coupon, coupon code, promotional code or other similar promotions; to bar any user from making any or all Transaction(s); and/or to refuse to provide any user with any product or service. You agree to pay all charges that may be incurred by you or on your behalf through the Site, at the price(s) in effect when such charges are incurred, including without limitation all shipping and handling charges. In addition, you remain responsible for any taxes that may be applicable to your Transactions.
        %p
        %strong Site Terms of Use Modifications
        %br 
        Regalii.com may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
        %p
        %strong Governing Law
        %br 
        Any claim relating to Regalii.com's web site shall be governed by the laws of the State of Delaware without regard to its conflict of law provisions. General Terms and Conditions applicable to Use of a Web Site.