ul.groceries{
  margin-left: -10px;
}


li img {
  height: 80px;
  float: left;
  margin: 0 15px 0 0;
}
 
li p {
  text-align: left;
  padding-left: 10px;
}
 
li {
  padding: 10px;
  overflow: auto;
}
 
li:hover {
  background: #eee;
}

ul.nav.nav-pills li {
	padding: 0px;
	overflow: visible;
}

ul.nav.nav-pills li:hover {
	background: none;
}

ul.nav.pull-right li {
	padding: 0px;
}

ul.nav.pull-right li:hover {
	background: none;
}