.groceries{
  margin-left: -10px;   
   
  li {
    overflow: auto;
    height: 95px;
    font-weight: 300;
    font-size: 1.3em;
    width: 150px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 0px;
    margin-bottom: 17px;
  }
  li p{
    font-size: .7em;
  }
}
  ul.nav.nav-pills li {
  	padding: 0px;
  	overflow: visible;
  }

  ul.nav.nav-pills li:hover {
  	background: none;
  }

  ul.nav.pull-right li {
  	padding: 0px;
  }

  ul.nav.pull-right li:hover {
  	background: none;
  }