$navbarBackgroundHighlight: #E96D0A;
$navbarBackground: #E96D0A;
$navbarHeight: 30px;
$navbarLinkColor: white;
$navbarLinkColorHover: #076AB2;

$btnPrimaryBackground: #AA151B;
$btnPrimaryBackgroundHighlight: #ED1C24;

@import 'bootstrap';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
    font-family: 'Questrial', sans-serif;
    font-size: 16px; 
    text-align: center;
}

h1 { 
	font-family: 'Calligraffitti', cursive; 
	font-weight: 400; 
}

h2{ 
	font-family: 'Questrial', sans-serif; 
	font-weight: 400; 
}
h3 { 
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400; 
}

.btn-main {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#AA151B;
	display:inline-block;
	color:#F4EEAB;
	text-align: center;
	padding:15px 12px;
	font-family: 'Questrial', sans-serif; 
	font-weight: 400; 
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 26px;

}.btn-main:hover {
	background-color:#ED1C24;
	color: #ffffff;
	text-decoration: none;
}.btn-main:active {
	position:relative;
	top:1px;
}

.gray-box {
	background-color: #CCCCCC;
	margin-bottom: 15px;
	padding-left: 10px;
}

.black-box {
	background-color: #4C433E;
	margin-bottom: 15px;
	padding-left: 10px;
}

body{
    padding-top: 120px;
    padding-left: 5%;
    padding-right: 5%;
}


@import 'bootstrap-responsive';

.footer{
    margin-top: 50px;
    color: $orange;
    a{
        color: $gray;
    }
}