/*
 Header section
*/

$navbarBackgroundHighlight: #E96D0A;
$navbarBackground: #E96D0A;
$navbarHeight: 30px;
$navbarLinkColor: white;
$navbarLinkColorHover: #076AB2;

$btnPrimaryBackground: #AA151B;
$btnPrimaryBackgroundHighlight: #ED1C24;

@import 'bootstrap';

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px; 
    text-align: center;
}

.brand:hover {
	position:relative;
	top: 1px;
}

/*
 Typography section
*/

h1 { 
	font-family: 'Bad Script', cursive;
	font-size: 36px;
	color:#076AB2;

}

h2{ 
	font-family: 'Roboto Condensed', sans-serif;
	color: #565454;
	font-weight: 300;
}

h3{ 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #000000;	
}

h4{ 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 32px;
	line-height: 42px;
	font-weight: 300;
	color: #AA151B;	
}

h5{ 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
  padding-left: 10px;
}

h6 { 
	font-family: 'Bad Script', cursive;
	font-size: 28px;
	line-height: 50px;
	text-align: left;
	padding-left: 10px;
	color:#076AB2;
}

.main-text-cont {
	max-width: 600px;
	margin: 10px;

}

.title {
	background: #4C433E;
	display: inline;
	padding: 5px;
	font-size: 20px;
	line-height: 30px;
	color: #F4EEAB;
	font-weight: 400;
	margin-bottom: 10px;
}

/*
 buttons section
*/

.btn-main {
	background-color:#AA151B;
	display:block;
	color:#F4EEAB;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400; 
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 26px;

}.btn-main:hover {
	background-color:#ED1C24;
	color: #ffffff;
	text-decoration: none;
}.btn-main:active {
	position:relative;
	top:2px;
}

.btn-main-gray {
	background-color:#BABABA;
	display:block;
	color:#FCFBE0;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding:10px;
	font-family: 'Roboto Condensed', sans-serif; 
	font-weight: 400; 
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 26px;

}.btn-main-gray:hover {
	background-color:#969696;
	color: #FCFBE0;
	text-decoration: none;
}.btn-main-gray:active {
	position:relative;
	top:2px;
}

.lang-container {
	background-color: #cc600a;
	height: 22px;
	width: 100%;
	position: absolute;

}

.market-list {
	max-height: 355px;
	overflow: auto;
	border: 2px solid #e3e3e3;

}

.gray-box {
	margin-top: 15px;
	background-color: #CCCCCC;
	margin-bottom: 15px;
	padding-left: 10px;
	

}.gray-box:hover {
	background-color: #076AB2;
}

.black-box {
	background-color: #4C433E;
	margin-bottom: 15px;
	padding-left: 10px;
	font-weight: 400;
}

body{
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Roboto Condensed', sans-serif;
		color: #ffffff;
}

.food {
	border:0px;
	border-color: #CCCCCC;
	border-style:solid;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.car-cont {
	height: 400px;
	z-index: 0;
	position: relative;
}
.car-cont-img {
	background-image: image-url("DR1.jpg");
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: 0;
}
.car-type {
	background: #076AB2;
	display: inline;
	padding: 3px;
	font-size: 25px;
	line-height: 45px;
	color: #F4EEAB;
	font-weight: 400;
	z-index: 2;
	position: relative;
	overflow: auto;
	left: 20px;
	top: 20px;
}

.guaranteed {
	background-image: image-url("guarantee-graphic.png");
	width: 150px;
	height: 137px;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

@import 'bootstrap-responsive';

.footer{
    margin-top: 50px;
    color: $orange;
    a{
        color: $gray;
    }

}