%h6
  66 total items
.row
  .span2
    = image_tag 'long-list-300.jpg' , :style => "padding-left:20px"
  .span2
    %ul.groceries
      %li
        Colgate White
      %li
        Atun
      %li
        Biscono Arina
      %li
        Chocolate en bloques
      %li
        Chocolate Sobrino
      %li
        Famosa Guandules
      %li
        Dino Dulce
      %li
        Bisono Maiz
      %li
        Linda Tomate Paste
      %li
        Cafe Molido Santo Domingo
      %li
        Santa Jugo de Melon
      %li
        Santa Jugo de Manzana
      %li
        Salchichon
      %li
        Pork Chops
      %li
        Corn Flakes
      %li
        Pan
      %li
        Carne Molida
      %li
        Carne de Rez
      %li
        Pork Chops Grande
      %li
        Cremora de Cafe
      %li
        Charm Basic Papel
      %li
        Iced Tea en Polvo
      %li
        Carey Iodized Salt
      %li
        Atun Brunswick
      %li
        Macaroni and Cheese
      %li
        Maggi Letras
      %li
        Fabuloso Limpiador
      %li
        Suavitel Suavizante
      %li
        Protex
      %li
        Queso
      %li
        Carne de Res
      %li
        Platano Verde
      %li
        Cebollas
      %li
        Zanahorias
      %li
        Platanos Verdes #2
      %li
        Ajo
      %li
        Pepinos
      %li
        Papas
      %li
        Naranjas
      %li
        Candado Detergente
      %li
        La Lechera
      %li
        Sazon Completo
      %li
        Leche Carnation
      %li
        Carantion Queso
      %li
        Axion Detergente
      %li
        Ajax Cloro
      %li
        Manicera Mantequilla
      %li
        Aceite Diamante
      %li
        Manicera Mayonesa
      %li
        Morenita Arina
      %li
        Caseira Cafe Crema
      %li
        Scotch Brite
      %li
        Habichuela Negra
      %li
        Habichuela Blanca
      %li
        Habichuela Rojas
      %li
        Huevos (30)
      %li
        Princesa Espiral
      %li
        Princesa Codito Pequeño
      %li
        Princesa Codos
      %li
        Quaker Oats
      %li
        Brillante Detergente
      %li
        Niveo Toallitas
      %li
        Emilios Hot Dogs
      %li
        Pan de Hot Dogs
      %li
        Rica Jugo de Pera
      %li
        Leche Entera de Polvo












