%h6
  48 total items
.row
  .span2
    = image_tag 'long-list-200.jpg' , :style => "padding-left:20px"
  .span2
    %ul.groceries
      %li
        Aceite
      %li
        AJO en pasta
      %li
        Aceite Diamante
      %li
        Atun
      %li
        Aviva
      %li
        Azul Javon
      %li
        Carne Molida
      %li
        Bisono
      %li
        Blanquita Arina
      %li
        Detergente Brillante
      %li
        Cafe Molido Sando Domingo
      %li
        Candado Detergente
      %li
        Carey Iodized Salt
      %li
        Charm Basic
      %li
        Chocolate Embloqueado
      %li
        Colgate
      %li
        Famosa Guandules
      %li
        Famosa Maiz
      %li
        Famosa Tomato Paste
      %li
        Leche Carnacion
      %li
        Rica Leche en Polvo
      %li
        Macier Cloro
      %li
        Maggi Letras
      %li
        Manicera Mayonesa
      %li
        Mantequilla Mazorca
      %li
        Mazorca Arina
      %li
        Mistolin
      %li
        Pan
      %li
        Salchichas de Pollo
      %li
        Pork Chops
      %li
        Habichuelas Rojas
      %li
        Princesa Coditos Pequeño
      %li
        Habichuelas Negras
      %li
        Princesa Espagueti
      %li
        Princesa Espiral
      %li
        Protex Avena
      %li
        Quaker Oats
      %li
        Queso
      %li
        Rico Jugo de Naranja
      %li
        Salchichon Largo
      %li
        Sazon Picante
      %li
        Salsa China
      %li
        Ketchup
      %li
        Sandwich Cookies
      %li
        Sardinas
      %li
        Maggi Sazon Completo
      %li
        Sobrino Chocolate
      %li
        Sazon Super Completo









