%h6
  Dairy & Grains
%ul
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/1"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/2"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/3"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/4"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...

%h6
  Meats & Protein
%ul
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/1"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/2"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/3"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/4"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...

%h6
  Fruits & Vegetables
%ul
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/1"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/2"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/3"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...
  %li
    %img{:src => "http://lorempixum.com/100/100/nature/4"}/
    %h5 Product title
    %p Lorem ipsum dolor sit amet...