%h6
  35 total items
.row
  .span2
    = image_tag 'long-list-100.jpg' , :style => "padding-left:20px"
  .span2
    %ul.groceries
      %li
        Azul Diamante
      %li
        AJO en pasta
      %li
        Axion
      %li
        Azucar
      %li
        Blanquita
      %li
        Cafe Molido Santo Domingo
      %li
        Chocolate
      %li
        Colgate Pasta Dental
      %li
        Dona Gallina
      %li
        Mantequilla Dorina
      %li
        Fabuloso Limpiador
      %li
        Famosa Tomato Paste
      %li
        Linda Guandules Verdes
      %li
        Giselle Habichuelas Negras
      %li
        Candado Javon
      %li
        Kinder Javon
      %li
        La Garza
      %li
        Leche Carnation
      %li
        Manicera Mayonesa
      %li
        Mazorca Maiz
      %li
        Mostaza
      %li
        Pan
      %li
        Princesa Codito Grande
      %li
        Princesa Espagueti
      %li
        Princesa Espiral
      %li
        Quaker Avena
      %li
        Rica Leche
      %li
        Salami
      %li
        Salchichas de Pollo
      %li
        Salsa Picante
      %li
        Sardinas
      %li
        Suave Detergente
      %li
        Super Completo Sazon
      %li
        Victorina Maiz
      %li
        Vinagre





